services:
  backend:
    build: ./server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env

  frontend:
    platform: linux/amd64
    build: ./client
    ports:
      - "5173:80"
    depends_on:
      - backend
